.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: #5558FA;
    font-size: 12px;
    line-height: 16px;
  }
}
