.inputWithError {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputBlock {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.inputsArray {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.appendButton {
  cursor: pointer;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-main);
  position: relative;

}

.appendButton::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 15px;
  width: 20px;
  height: 3px;
  background-color: var(--color-main);
}

.appendButton::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 23px;
  width: 3px;
  height: 20px;
  background-color: var(--color-main);
}

.labelContainer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}