.container {
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 950px) {
    width: 550px;
  }
  @media screen and (max-width: 650px) {
    width: 300px;
  }
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}