.modalContainer, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.overlay {
  cursor: auto;
  background: rgba(49, 49, 49, 0.8);
}

.modalContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 10;
  width: 460px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.heading {
  align-self: start;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.failImage {
  align-self: center;
  justify-self: center;
}

.closeButton {
  align-self: flex-end;
  width: 109px;
  height: 44px;
  background-color: var(--color-main);
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: white;
}